.btn_bas, .btn_haut {
  border-radius: 45px;
  border: none;
  margin-left: 4%;
  background: linear-gradient(to top left, #9356dc 0%, #ff79da 100%);
  color: white;
  font-size: 26px;
  margin-top: 25px;
  /*
  width: 60%;*/
  min-height: 85px;
  padding: 0 50px;
}

.btn_bas, .btn_haut, .all_menu .menu .menu_link {
  box-shadow: 0px 0px 15px silver;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

ul,
a {
  list-style: none;
  text-decoration: none;
  color: black;
}

.intro {
  text-align: center;
}
.intro .intro_logo {
  padding: 25px 0px 15px 0;
  display: flex;
}
.intro .intro_logo img {
  width: 50%;
  padding-left: 23%;
}
@media screen and (min-width: 576px) {
  .intro .intro_logo img {
    padding-left: 30%;
    width: 33%;
  }
}
@media screen and (min-width: 768px) {
  .intro .intro_logo img {
    width: 32%;
  }
}
@media screen and (min-width: 992px) {
  .intro .intro_logo img {
    width: 24%;
    padding-left: 35%;
  }
}
@media screen and (min-width: 1200px) {
  .intro .intro_logo img {
    width: 18%;
    padding-left: 40%;
  }
}

.intro_location {
  display: flex;
  justify-content: center;
  background-color: #d0cdcd;
}

.intro_location-name {
  font-size: 20px;
  padding-right: 40px;
}

.intro-icon {
  padding-right: 12px;
}

section {
  text-align: center;
}
section .second_intro {
  padding-top: 25px;
  padding-bottom: 50px;
  background-color: #f2f2f2;
}
section .second_intro .intro_title {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 75px;
}
section .under_title {
  font-size: 18px;
}

.nav {
  text-align: center;
}
.nav h2 {
  padding-left: 44px;
  display: flex;
  font-size: 34px;
}
@media screen and (min-width: 992px) {
  .nav h2 {
    margin-left: 25%;
  }
}
.nav .nav_link {
  margin: 50px 0 64px;
  border-radius: 25px;
  padding-top: 39px;
  padding-bottom: 39px;
  border: none;
  width: 95%;
  /* min-height: 70px; */
  color: white;
  font-size: 18px;
  box-shadow: 0px 0px 15px silver;
  position: relative;
  counter-increment: number;
}
@media screen and (min-width: 992px) {
  .nav .nav_link {
    width: 50%;
    margin-left: 25%;
  }
}
.nav .nav_link::before {
  position: absolute;
  content: counter(number);
  top: 27%;
  left: -21px;
  background-color: #9356dc;
  padding: 7px 13px;
  border-radius: 50%;
}
.nav .nav_link span {
  font-weight: bold;
}
.nav .nav-icon {
  padding-left: 23px;
  padding-right: 20px;
}

.multi-card {
  margin-bottom: 20px;
  background-color: #eee;
}
.multi-card .card_name {
  padding: 10px 0 0px 35px;
}
.multi-card .cards {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  row-gap: 30px;
  -moz-column-gap: 5px;
       column-gap: 5px;
  /* margin-bottom: 30px; */
  padding: 0 30px 30px 30px;
}
.multi-card .cards .card {
  position: relative;
  border-radius: 15px 15px;
  background-color: white;
  flex: 50%;
  border: 3px #fff solid;
  /*
  min-width: 180px;*/
  height: 225px;
  box-shadow: 0px 5px 5px rgba(207, 204, 204, 0.98);
}
@media screen and (min-width: 1200px) {
  .multi-card .cards .card {
    flex: 35%;
  }
}
.multi-card .cards .card .card_image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 15px 15px 0 0;
  height: 75%;
}
.multi-card .cards .card .card_nouveau {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: #99e2d0;
  color: green;
  width: 96px;
  text-align: center;
  padding: 8px;
}
.multi-card .cards .card h3 {
  margin: 0px 0px 3px 10px;
}
.multi-card .cards .card p {
  font-size: 18px;
  padding: 0 0 7px 10px;
  margin-top: 0px;
}
.multi-card .cards .card .icon_heart {
  position: absolute;
  top: 186px;
  right: 27px;
  font-size: 30px;
}

.footer {
  width: 100%;
  background-color: #353535;
  color: white;
  font-size: 25px;
}
.footer .footer_title {
  padding-left: 40px;
}
.footer .footer_title a {
  color: white;
}
.footer .link {
  padding-bottom: 10px;
}
.footer .link .icon_foot {
  padding-right: 20px;
}
.footer .link a {
  color: white;
}

header .menu_logo {
  padding: 20px 0 6px 22px;
}
header .menu_logo .icon_menu {
  font-size: 25px;
  padding-right: 28%;
}
header .menu_logo img {
  width: 40%;
}
@media screen and (min-width: 576px) {
  header .menu_logo img {
    width: 20%;
    padding-left: 10%;
  }
}
header .menu_image img {
  width: 100%;
  height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
}

.all_menu {
  width: 100%;
  background-color: white;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  height: 70%;
  font-size: 13px;
  position: relative;
  margin-top: -100px;
  background-color: #eee;
  padding-bottom: 25px;
}
.all_menu .menu_title_first {
  font-size: 29px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 13px;
  font-family: "Shrikhand", cursive;
  padding-left: 35px;
  padding-right: 113px;
  padding-top: 20px;
}
.all_menu .menu .menu_title {
  justify-content: flex-start;
  padding-left: 38px;
  padding-bottom: 5px;
  position: relative;
  text-transform: uppercase;
}
.all_menu .menu .menu_title::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 36px;
  width: 40px;
  height: 12%;
  background-color: #99e2d0;
}
.all_menu .menu .menu_title .menu_title a {
  border-bottom: 3px solid #99e2d0;
  padding-right: 10px;
}
.all_menu .menu .menu_title .icon_menu {
  font-size: 30px;
  padding-left: 10px;
}
.all_menu .menu .menu_title .menu_title {
  font-size: 29px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 13px;
}
.all_menu .menu .menu_title .icon_heart {
  padding: 0 0 0 150px;
}
.all_menu .menu .menu_first {
  padding-bottom: 53px;
}
@media screen and (min-width: 992px) {
  .all_menu .menu .menu_first {
    margin: auto;
    width: 60%;
  }
}
.all_menu .menu .menu_link {
  /* border: 1px solid black; */
  border-radius: 30px;
  width: 92%;
  /* min-height: 27%; */
  background-color: white;
  padding-left: 11px;
  margin-bottom: 10px;
  position: relative;
  padding-bottom: 6px;
  padding-top: 1px;
}
.all_menu .menu .menu_link span {
  position: absolute;
  right: 10%;
  top: 40px;
  font-weight: bold;
}

.btn_bas {
  margin-left: 25%;
}
@media screen and (min-width: 576px) {
  .btn_bas {
    margin-left: 36%;
  }
}
@media screen and (min-width: 992px) {
  .btn_bas {
    margin-left: 40%;
  }
}/*# sourceMappingURL=style.css.map */